<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Otaku Hub</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
    <link href="/static/adminPro.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="dark">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <p class="brand-wrap " style="font-family: Satisfy; font-size: 30px;">Otaku Hub</p>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link " href="/admin/view-users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order-details"> <i
                            class="icon material-icons md-shopping_cart"></i></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/banners"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                <li class="menu-item ">
                    <a class="menu-link" style="background-color: rgb(173, 12, 12);" href="/adminlog"> <i
                            class="icon material-icons md-exit_to_app"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>

            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Product</h2>


                </div>
                <div>
                    <a href="/admin/products" class="btn btn-primary">Back to Products</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">

                    <div class="card mb-4">



                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="/admin/products/edit/<%= product._id%>" method="post"
                                    enctype="multipart/form-data" id="form">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInput">Name of Product</label><br><br>
                                            <input type="text" class="form-control mb-2" id="name" name="name"
                                                placeholder="<%= product.name%>">
                                        </div><br>
                                        <div class="col-auto">
                                            <label class="sr-only" for="category">Category :</label>

                                            <select class="form-select mb-2" id="category" name="category">
                                                <option value="" selected disabled>
                                                    <%= product.category.name%>
                                                </option>
                                                <% categories.forEach((category)=> {%>
                                                    <option value="<%= category.name%>">
                                                        <%= category.name%>
                                                    </option>
                                                    <%})%>
                                            </select>

                                        </div>


                                        <div class="col-auto">
                                            <label for="Description">Description</label><br><br>
                                            <textarea class="form-control" id="description" rows="3" name="description"
                                                placeholder="<%= product.description%>"></textarea>
                                        </div><br>
                                        <% if(product.categories==='Outfits' )%>
                                            <div id="clothesForm" style="display: none;">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Small :</h6>
                                                    </div>
                                                    <div class="col">
                                                        <% if(product.category.name==='Outfits' &&
                                                            product.quantity[0].stock !==null){%>
                                                            <input type="Number" class="form-control"
                                                                placeholder="<%= product.quantity[0].stock%>"
                                                                value="<%= product.quantity[0 ].stock%>"
                                                                name="stocks[]">
                                                            <%}else{%>
                                                                <input type="Number" class="form-control"
                                                                    placeholder="Stock of Size S" name="stocks[]">
                                                                <%}%>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Medium :</h6>
                                                    </div>
                                                    <div class="col">
                                                        <% if(product.category.name==='Outfits' &&
                                                            product.quantity[0].stock !==null ){%>
                                                            <input type="Number" class="form-control"
                                                                value="<%= product.quantity[1].stock%>"
                                                                placeholder="<%= product.quantity[1].stock%>"
                                                                name="stocks[]">
                                                            <%}else{%>
                                                                <input type="Number" class="form-control"
                                                                    placeholder="Stock of Size M" name="stocks[]">
                                                                <%}%>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Large :</h6>
                                                    </div>
                                                    <div class="col">
                                                        <% if(product.category.name==='Outfits' &&
                                                            product.quantity[0].stock !==null){%>
                                                            <input type="Number" class="form-control"
                                                                value="<%= product.quantity[2].stock%>"
                                                                placeholder="<%= product.quantity[2].stock%>"
                                                                name="stocks[]">
                                                            <%}else{%>
                                                                <input type="Number" class="form-control"
                                                                    placeholder="Stock of Size L" name="stocks[]">
                                                                <%}%>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Extra Large :</h6>
                                                    </div>
                                                    <div class="col">
                                                        <% if(product.category.name==='Outfits' &&
                                                            product.quantity[0].stock !==null){%>
                                                            <input type="Number" class="form-control"
                                                                value="<%= product.quantity[3].stock%>"
                                                                placeholder="<%= product.quantity[3].stock%>"
                                                                name="stocks[]">
                                                            <%}else{%>
                                                                <input type="Number" class="form-control"
                                                                    placeholder="Stock of Size XL" name="stocks[]">
                                                                <%}%>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-auto" id="otherForm" display="none">
                                                <label class="sr-only" for="inlineFormInput">Quantity :</label><br><br>
                                                <label class="sr-only" for="inlineFormInput">Stock</label>
                                                <input type="number" class="form-control mb-2" id="stock" name="stock"
                                                    placeholder="<%= product.quantity[0].stock%>"
                                                    value="<%= product.quantity[0].stock%>"><br>
                                            </div><br><br>

                                            <div class="col-auto">
                                                <label class="sr-only" for="price">Price</label><br><br>
                                                <input type="number" class="form-control mb-2" id="price" name="price"
                                                    placeholder="<%= product.price%>">
                                            </div><br>
                                            <div class="col-auto">
                                                <label class="sr-only" for="price">Discount</label><br><br>
                                                <input type="number" class="form-control mb-2" id="discount"
                                                    name="discount" placeholder="<%= product.discount%>">
                                            </div><br>
                                            <div class="col-auto">
                                                <label class="sr-only" for="main-image">Main Image</label><br><br>
                                                <input type="file" class="form-control-file" id="main-img"
                                                    name="mainimage" accept=".jpg, .jpeg, .png, .webp">
                                                <!-- CROP -->
                                            </div><br>
                                            <div class="col-auto">
                                                <label class="sr-only" for="additional-img">Additional images (maximum :
                                                    4)</label><br><br>
                                                <input type="file" id="additional-img" name="additionalimage"
                                                    accept=".jpg, .jpeg, .png, .webp" multiple>
                                                <!-- CROP -->

                                            </div><br>
                                            <div class="col-auto">
                                                <center><button type="submit" class="btn btn-primary mb-2"
                                                        onclick="saveChanges(event)">Save Changes</button></center>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Table ends here -->

                    <div class="pagination-area mt-30 mb-50">

                    </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> © Otaku Hub Administrator
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

</body>
<script>
    // Validating the no of additional files uploading 
    document.getElementById('additional-img').addEventListener('change', function (event) {
        const selectedFiles = event.target.files
        if (selectedFiles.length > 4) {
            Swal.fire({
                icon: 'info',
                title: "You can only choose maximum 4 files",
                showConfirmButton: true,
                timer: 2000,
                customClass: {
                    title: 'swal'
                }
            })
            event.target.value = "" //removing the chosen files
        }
    })

    var clothesForm = document.getElementById('clothesForm');
    var otherForm = document.getElementById('otherForm');
    var productCategory = '<%= product.category.name%>'
    if (productCategory === "Outfits") {
        console.log("outfit form");
        clothesForm.style.display = 'block';
        otherForm.style.display = 'none';
    } else {
        console.log("other form");
        clothesForm.style.display = 'none';
        otherForm.style.display = 'block';
    }

    document.getElementById('category').addEventListener('change', function () {
        var selectedCategory = this.value.trim()
        console.log(selectedCategory);
        if (selectedCategory.toLowerCase().indexOf('outfits') !== -1) {
            console.log("outfit form");
            clothesForm.style.display = 'block';
            otherForm.style.display = 'none';
        } else {
            console.log("other form");
            clothesForm.style.display = 'none';
            otherForm.style.display = 'block';
        }
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function saveChanges(event) {
        event.preventDefault();
        const selectedCategory = document.getElementById('category').value
        if (selectedCategory) {
            // Category is selected, proceed with form submission
            const form = document.getElementById('form');
            form.submit();
        } else {
            // Show SweetAlert if the category is not selected
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please choose the category before saving changes',
                customClass: {
                    title: 'sweetalertee-title', // Add a custom class to the title
                }
            });
        }
    }
</script>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/select2.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/js/custom-chart.js" type="text/javascript"></script>

</html>