
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Otaku Hub</title>

   <!-- Favicon -->
   <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
   <!-- Template CSS -->
   <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>

   <link rel = "stylesheet" href = "/static/product-view.css">
   <link rel = "stylesheet" href = "/static/product-viewmain.css">

   <link rel = "stylesheet" href = "/static/magicZoom.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>

    <!-- Navbar starts here -->
    <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <h5 class="brand-name text-danger" style="font-family: Satisfy; font-size: 30px;">Otaku <br> Hub</h5>
                    </div>
                    <div class="col-md-5 my-auto">
                        <form role="search">
                            <div class="input-group">
                                <input type="search" placeholder="Search your product" class="form-control" />
                                <button class="btn bg-white" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-shopping-cart"></i> Cart
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class = "fas fa-wallet"></i> Wishlist
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i>Profile</a></li>

                                <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i>Order History</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i>My Wishlist</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i>My Cart</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none text-danger fw-bold" href="#" style="font-family: Satisfy; font-size: 30px;">
                    Otaku Hub
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link nav-linkk" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-linkk" href="/products">All Products</a>
                        </li>
                            <li class="nav-item dropdown">
                                <p class="nav-link mx-2 dropdown-toggle dropdown-header" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Categories
                                </p>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <% categories.forEach(category => {%>
                                    <% if(category.isPublished === true){%>
                                        <a class="dropdown-item" href="/<%=category.name%>"><%= category.name%></a>
                                      <%}%>
                                    <%})%>
                                </div>
                              </li>
                        <li class="nav-item">
                            <a class="nav-link nav-linkk" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-linkk" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-linkk" href="#">Weekend Sale</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>     
<!-- Navbar ends -->

    <div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-4">
                    
					<div class="s_Product_carousel">
						<div class="single-prd-item d-flex" >
                            <a href="/<%= product.mainimage %>" class="MagicZoom" id="jeans" data-options=" zoomPosition: inner"><img src="/<%= product.mainimage %>" class="img-fluid" style="height: 390px; width: 410px; object-fit: contain;"></a> 
                        </div>
							<div class="single-prd-item d-flex" style="border:none;">
                                <% product.additionalimages.forEach((img) =>{%>
                                    <% if(img !== null){%>     
                                <a data-zoom-id="jeans" href="/<%= img %>" data-image="/<%= img %>" style="border: none;"><img src="/<%= img %>" class="img-fluid" style="height: 390px; width: 410px; object-fit: contain;"></a>  
                                        <% } %>
                                        <%})%>
							</div>
					</div>
				</div>
                
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text" style="margin-left: 10px;">
						<h3><%- product.name %></h3>
						

                        <% if (product.discount) { %>
                            <% var discountedPrice = Math.floor(product.price - (product.price * (product.discount / 100))); %>
                            <h2 style="margin-top: 20px;">&#x20B9;<%= discountedPrice%> Discount Price</h2>
                            <h5>&#x20B9;<%= product.price%> Original Price</h5>
                          <% } else { %>
                            <h2>&#x20B9;<%= product.price%></h2>
                          <% } %>
            

                       <%if(product.discount){%>
                        <h5 class="text-danger" style="margin-top: 20px;"><%- product.discount %>% Discount</h2>
                        <%}%>

                        <% if (product.category.name === 'Outfits') {%>
                        <h5 style="margin-top: 20px;">Choose Size :</h5>
                                    <% product.quantity.forEach((sizeObj) => { %>
                                        <% if (sizeObj.size !== "null") { %>
                                  <button class="size-button"><a class="text-black" href="" name="<%= sizeObj.size %>"><%= sizeObj.size %></a></button>
                                  <% } %>
                                  <% }) %>
                           <%}%>




                        <ul class="list" style="margin-top: 20px;">
							<span class="text-muted fw-bold"><span >Category</span> <%- product.category.name %></span>
							
                                    <% if (product.quantity && Array.isArray(product.quantity)) { %>
                                        <% var inStock = product.quantity.some(item => item.stock > 0); %>
                                        <% if (inStock) { %>
                                            <label class="label-stock bg-success rounded">In Stock</label>
                                        <% } else { %>
                                            <label class="label-stock bg-danger rounded">Out of Stock</label>
                                        <% } %>
                                    <% }%>
					
                        </ul>
						<p><%= product.description %></p>

						<div class="card_area d-flex align-items-center justify-content-center" style="padding-bottom: 10px;">
					
									<a class="primary-btn" href="" id="addToCart">Add to Cart</a>
	
										<a class="icon_btn addtoWishlist" data-productId="<%=  product._id %>" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                                        </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


     <!-- Footer -->
    
     <div>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="footer-heading">Otaku Hub</h4>
                        <div class="footer-underline"></div>
                        <p>
                            Otaku Hub is designed to be for anime enthusiasts, where fans can discover, purchase their favorite anime characters through high-quality products.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Quick Links</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="" class="text-white">Home</a></div>
                        <div class="mb-2"><a href="" class="text-white">About Us</a></div>

                        <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
                        <div class="mb-2"><a href="" class="text-white">Blogs</a></div>
                        <div class="mb-2"><a href="" class="text-white">Sitemaps</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Shop Now</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="" class="text-white">Collections</a></div>
                        <div class="mb-2"><a href="" class="text-white">Trending Products</a></div>
                        <div class="mb-2"><a href="" class="text-white">New Arrivals Products</a></div>
                        <div class="mb-2"><a href="" class="text-white">Featured Products</a></div>
                        <div class="mb-2"><a href="" class="text-white">Cart</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Reach Us</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2">
                            <p>
                                <i class="fa fa-map-marker"></i> Kochi, Jews-street , Ernakulam , India - 560077
                            </p>
                        </div>
                        <div class="mb-2">
                            <a href="" class="text-white">
                                <i class="fa fa-phone"></i> +91 888-XXX-XXXX
                            </a>
                        </div>
                        <div class="mb-2">
                            <a href="" class="text-white">
                                <i class="fa fa-envelope"></i> otakuhubkl@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class=""> &copy; 2023 - Otaku Hub - Ecommerce. All rights reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="social-media">
                            Get Connected:
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Ends -->
    <script>
document.addEventListener('DOMContentLoaded', function() {
    // Handle click event on dropdown items
    var dropdownItems = document.querySelectorAll('.dropdown-menuu .dropdown-itemm');

    dropdownItems.forEach(function(item) {
      item.addEventListener('click', function() {
        var selectedSize = this.getAttribute('name');
        // Set the selected size as the dropdown header text
        event.preventDefault(); 
        var dropdown = this.closest('.dropdownn');
        dropdown.querySelector('.dropdown-togglee').textContent = selectedSize;
      });
    });
  });

    </script>
<script src="/static/magicZoom.js"></script>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
 <!-- Bootstrap JS and dependencies -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>